{% extends 'base/base.html' %}

{% block titulo %}
    Deletar Despesas
{% endblock %}

{% block navBar %}
    {% include 'base/cabecalho.html' %}
{% endblock %}

{% block corpo %}
    <div id="corpoDeletarDespesa">
        <h1>Deletar Despesa</h1>
        <form action="" method="post" id="form" name="form">
            {% csrf_token %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Valor</th>
                        <th>Data de pagamento</th>
                        <th>Data de pagamento esperado</th>
                        <th>Tipo de despesa</th>
                        <th>N° da Conta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>R${{ despesa.valor }}</td>
                        <td>{{ despesa.data_pagamento }}</td>
                        <td>{{ despesa.data_pagamento_esperado }}</td>
                        <td>{{ despesa.tipo_despesa }}</td>
                        <td>{{ despesa.conta }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="6">
                            <p class="text-center fw-bolder fs-3">
                                Você realmente deseja deletar esta despesa do sistema?
                            </p>
                        </th>
                    </tr>
                </tfoot>
            </table>
            <div class="text-center">
                <button type="submit" class="btn btn-danger">Deletar</button>
                <a href="{% url 'listarDespesas' %}">
                    <span class="btn btn-primary">Cancelar</span>
                </a>
            </div>
        </form>
    </div>
{% endblock %}