{% extends 'base/base.html' %}

{% block titulo %}
    Início
{% endblock %}

{% block navBar %}
    {% include 'base/cabecalho.html' %}
{% endblock %}

{% block corpo %}
    <div id="corpoInicio">
        <h1>Página Inicial</h1>
        <ul class="fw-bolder">
            <li>Olá, me chamo Israel, tenho 16 anos e sou apaixonado por programação.</li>
            <li>Tenho muito interesse em colocar meus conhecimentos em prática e evoluir ainda mais, começando a trabalhar na área.</li>
            <li>Adorei realizar este projeto e espero muito ser selecionado e abranger meus conhecimentos no programa de formação da PubFuture.</li>
            <li>Email: israelricardoetc@gmail.com</li>
        </ul>
    </div>
{% endblock %}