{% extends 'base/base.html' %}

{% block titulo %}
    Editar Contas
{% endblock %}

{% block navBar %}
    {% include 'base/cabecalho.html' %}
{% endblock %}

{% block corpo %}
    <div id="corpo">
        <h1>Editar Conta</h1>
        <form action="" method="post" id="form" name="form">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_conta" class="form-label fw-bolder">N° da Conta</label>
                <input type="number" class="form-control" id="id_conta" name="conta" value="{{ conta.conta }}" required maxlength="6" oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
            </div>
            <div class="mb-3">
                <label for="id_saldo" class="form-label fw-bolder">Saldo</label>
                <input type="number" class="form-control" id="id_saldo" name="saldo" value="{{ conta.saldo }}" max="999999" required>
            </div>
            <div class="mb-3">
                <label for="id_tipo_conta" class="form-label fw-bolder">Tipo da Conta</label>
                <select class="form-select" aria-label="Default select example" name="tipo_conta" id="id_tipo_conta" required>
                    <option value="Carteira">Carteira</option>
                    {% if conta.tipo_conta == 'Corrente' %}
                        <option value="Corrente" selected>Corrente</option>
                    {% else %}
                        <option value="Corrente">Corrente</option>
                    {% endif %}

                    {% if conta.tipo_conta == 'Poupanca' %}
                        <option value="Poupanca" selected>Poupança</option>
                    {% else %}
                        <option value="Poupanca">Poupança</option>
                    {% endif %}
                </select>
            </div>
            <div class="mb-3">
                <label for="id_instituicao_financeira" class="form-label fw-bolder">Instituição Financeira</label>
                <input type="text" class="form-control" id="id_instituicao_financeira" name="instituicao_financeira" value="{{ conta.instituicao_financeira }}" required maxlength="50">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Editar</button>
                <a href="{% url 'listarContas' %}">
                    <span class="btn btn-secondary">Voltar</span>
                </a>
            </div>
        </form>
    </div>
{% endblock %}