{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'inicio' %}">Início</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'listarReceitas' %}">Receitas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'listarDespesas' %}">Despesas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'listarContas' %}">Contas</a>
          </li>
        </ul>
      </div>
      <div class="d-flex">
        <div class="container me-2">
          <a class="navbar-brand" href="https://www.linkedin.com/in/israel-sestrem-a734421b9/" target="blank">
            <img src="{% static 'img/linkedin.png' %}" title="Linkedin" alt="Linkedin" width="30" height="24">
          </a>
          <a class="navbar-brand" href="https://github.com/israel-sestrem" target="blank">
            <img src="{% static 'img/github.png' %}" title="GitHub" alt="GitHub" width="30" height="24">
          </a>
          <a class="navbar-brand" href="https://www.instagram.com/israelrs_/" target="blank">
            <img src="{% static 'img/instagram.png' %}" title="Instagram" alt="Instagram" width="30" height="24">
          </a>
        </div>
      </div>
    </div>
</nav>