{% extends 'base/base.html' %}

{% block titulo %}
    Cadastrar Receitas
{% endblock %}

{% block navBar %}
    {% include 'base/cabecalho.html' %}
{% endblock %}

{% block corpo %}
    <div id="corpo">
        <h1>Cadastrar Receita</h1>
        <form action="" method="post" id="form" name="form">
            {% csrf_token %}
            <div id="campoEsquerdo">
                <div class="mb-3">
                    <label for="id_valor" class="form-label fw-bolder">Valor</label>
                    <input type="number" class="form-control" id="id_valor" name="valor" max="999999" required>
                </div>
                <div class="mb-3">
                    <label for="id_data_recebimento" class="form-label fw-bolder">Data de Recebimento</label>
                    <input type="date" class="form-control" id="id_data_recebimento" name="data_recebimento" required>
                </div>
                <div class="mb-3">
                    <label for="id_data_recebimento_esperado" class="form-label fw-bolder">Data de Recebimento Esperado</label>
                    <input type="date" class="form-control" id="id_data_recebimento_esperado" name="data_recebimento_esperado" required>
                </div>
            </div>
            <div id="campoDireito">
                <div class="mb-3">
                    <label for="id_descricao" class="form-label fw-bolder">Descrição</label>
                    <input type="text" class="form-control" id="id_descricao" name="descricao" required maxlength="100">
                </div>
                <div class="mb-3">
                    <label for="id_conta" class="form-label fw-bolder">N° da Conta</label>
                    <input type="number" class="form-control" id="id_conta" name="conta" required maxlength="6" oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                </div>
                <div class="mb-3">
                    <label for="id_tipo_receita" class="form-label fw-bolder">Tipo de Receita</label>
                    <select class="form-select" aria-label="Default select example" name="tipo_receita" id="id_tipo_receita" required>
                        <option value="Salario">Salário</option>
                        <option value="Presente">Presente</option>
                        <option value="Premio">Prêmio</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <button type="reset" class="btn btn-danger">Apagar</button>
                <a href="{% url 'listarReceitas' %}">
                    <span class="btn btn-secondary">Voltar</span>
                </a>
            </div>
        </form>
    </div>
{% endblock %}