{% extends 'base/base.html' %}

{% block titulo %}
    Receitas
{% endblock %}

{% block navBar %}
    {% include 'base/cabecalho.html' %}
{% endblock %}

{% block corpo %}
    <div id="corpoReceitas">
        <h1>Lista de Receitas</h1>
        <div class="text-center">
            <a href="{% url 'cadastrarReceitas' %}">
                <button class="btn btn-primary">Cadastrar Receita</button>
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Valor</th>
                    <th>Data de recebimento</th>
                    <th>Data de recebimento esperado</th>
                    <th>Descrição</th>
                    <th>N° da Conta</th>
                    <th>Tipo de receita</th>
                    <th colspan="2" id="opcoes">Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for receita in receitas %}
                    <tr>
                        <td>R${{ receita.valor }}</td>
                        <td>{{ receita.data_recebimento }}</td>
                        <td>{{ receita.data_recebimento_esperado }}</td>
                        <td>{{ receita.descricao }}</td>
                        <td>{{ receita.conta }}</td>
                        <td>{{ receita.tipo_receita }}</td>
                        <td>
                            <a href="{% url 'editarReceitas' receita.id %}">
                                <button class="btn btn-primary">Editar</button>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'deletarReceitas' receita.id %}">
                                <button class="btn btn-danger">Deletar</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="8" class="fw-bold text-center fs-5">Total de Receitas: {{ totalReceitas }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}